<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SelectUserMapper">

    <select id="selectUser" resultType="com.example.demo.model.SelectUserModel" >
   			SELECT visa_user_info.email,first_name,middle_name,last_name,first_name_kana,middle_name_kana,
		last_name_kana,first_name_kanzi,last_name_kanzi,visa_date,country_name,visatype_name
		FROM visa_user_info
		INNER JOIN country_master ON visa_user_info.country_id = country_master.country_id
		INNER JOIN visatype_master ON visa_user_info.visatype_id = visatype_master.visatype_id
        INNER JOIN visa_login on visa_user_info.email = visa_login.email
		WHERE visa_login.delete_flag = 0 AND visa_user_info.email = #{email};

    </select>
    

</mapper>

