<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserUpdateMapper">

    
     <update id="userUpdate" parameterType="com.example.demo.model.UserUpdateModel">
   		
  	 	UPDATE visa_user_info 
		SET
    	visatype_id = #{visatype_id}
     	,visa_date = #{visa_date}
		WHERE
    	email= #{email}
    	
    	
   
    </update>
    
    </mapper>